<header class="flex flex-col gap-4 py-20 xl:py-24">
  <h1 class="text-5xl md:text-6xl font-black tracking-tight">Hi I'm Ben</h1>
  <a
    href="https://github.com/brownben"
    class="text-gray-500 duration-100 hover:text-blue-600 font-normal"
  >
    Checkout my GitHub →
  </a>
</header>
